.collection-item {
    flex: 1;
    font-size: 14px;
    position: relative;
    width: 190px;
}

.collection-img {
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    object-fit: cover;
}

.collection-footer {
    width: 100%;
    background-color: #7CD1B8;
}

.name {
    width: 85%;
}

.top-card {
    background-color: #F7F7F7;
}


.collection-item .form-btn {
    display: none;
}

.collection-item:hover .form-btn {
    display: block;
    position: absolute;
    top: 150px;
    width: 75%;
    opacity: 0.7;
    left: 26px;
}
