.added-bubble{
    position: absolute;
    background-color: #7CD1B8;
    top: 65px;
    right: 70px;
    padding: 5px;
    opacity: 1;
    animation: fade 2s linear;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}
