@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Quicksand';
  src: font-url('assets/fonts/Quicksand-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: font-url('assets/fonts/Oxygen-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0EFF4;
  color: #4f4f52;
}

* {
  box-sizing: border-box;
}
